{% extends "covidcombatapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 

        {% if record.0.Name|length %}
          
          <section class="page-section portfolio" id="portfolio" style="padding-left: 150px;">
        <main role="main" class="container"><br><br>

            <div class="row" style="height: 500px; width: 1000px;
              transform-style: preserve-3d;
              border-radius: 32px;
              box-shadow:
                1px 1px 0 1px #f9f9fb,
                -1px 0 28px 0 rgba(34, 33, 81, 0.01),
                28px 28px 28px 0 rgba(34, 33, 81, 0.25);
              transition:
                .4s ease-in-out transform,
                .4s ease-in-out box-shadow;

              &:hover {
                transform:
                  translate3d(0px, -16px, 0px)
                  rotateX(51deg)
                  rotateZ(43deg);
                box-shadow:
                  1px 1px 0 1px #f9f9fb,
                  -1px 0 28px 0 rgba(34, 33, 81, 0.01),
                  54px 54px 28px -10px rgba(34, 33, 81, 0.15);
              
              }">
                <div class="col-md-6"><br>
                  <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form group">
                        <legend class="border-bottom mb-4">Fill in the below details</legend>
                         
                          <div class=""> 
                            <input type="hidden" name="Name" maxlength="20" class="textinput textInput form-control" required="" id="id_Name" value="{{ user.get_username }}" readonly> 
                          </div> 

                        <div id="div_id_test_result" class="form-group"> 
                          <label for="id_test_result" class=" requiredField">
                            Enter your Covid-19 test result<span class="asteriskField">*</span> 
                          </label> 
                          <div class=""> 
                            <select name="test_result" class="select form-control" required="" id="id_test_result"> 
                              <option value="" selected="">---------</option> 
                              <option value="Positive">Positive</option> 
                              <option value="Negative">Negative</option>
                            </select> 
                          </div> 
                        </div> 
                        <br>
                        <div id="div_id_oxygen_level" class="form-group">
                          <label for="id_oxygen_level" class=" requiredField">
                            Enter your SpO<sub>2</sub> level (Oxygen level)<span class="asteriskField">*</span>
                          </label> 
                          <div class=""> 
                            <select name="oxygen_level" class="select form-control" required="" id="id_oxygen_level"> <option value="" selected="">---------</option> <option value="95 or above">95 or above</option> <option value="Below 95">Below 95</option>
                            </select> 
                          </div> 
                        </div>

                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Next</button>
                    </div>  
                  </form>
                </div>

            <div class="col-md-6">
                <br><h1>What Next ?</h1><br>
                <h5>1. Get a Covid-19 test done from a nearby centre</h5>
                <br><h5>2. Enter your test result here.</h5>
                <br><h5>3. Check your oxygen level with an Oximeter</h5>
                <br><h5>4. Fill the oxygen level field with correct range.</h5>
                <br><h5>5. Click on next to get further instructions.</h5>
            </div>

        </div>
        <br>

        <section class="page-section portfolio" id="portfolio">
              <br><div class="container">
                  <!-- Portfolio Section Heading-->
                  <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Testing Centers</h2>
                  <!-- Icon Divider-->
                  <div class="divider-custom">
                      <div class="divider-custom-line"></div>
                      <div class="divider-custom-icon"><i class="fas fa-plus-circle"></i></div>
                      <div class="divider-custom-line"></div>
                  </div>
                  <h5 style="padding-left: 10px;">Enter your current location or postal code below to get details of nearby testing centers</h5>
                  <div style="padding-right: 100px;">
                    <iframe width="100%" height="425" src="https://maps.mapmyindia.com/covid-places/embed?category=HSPTST" allow="geolocation" >
                    </iframe>
                  </div>
              </div>
    </section>
    </main>
    </section>

        {% else %}
          
          <section class="page-section portfolio" id="portfolio">
            <div class="container"><br>
                <!-- Portfolio Section Heading-->

                {% if messages %}
                    {% for message in messages%}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor%}
                {% endif %}

                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Examine your health</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-plus-circle"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <div style="padding-left: 200px;">
                <main role="main" class="container">
              <div class="row">
                  <div class="col-md-10" style="height: 350px; width: 500px;
              transform-style: preserve-3d;
              border-radius: 32px;
              box-shadow:
                1px 1px 0 1px #f9f9fb,
                -1px 0 28px 0 rgba(34, 33, 81, 0.01),
                28px 28px 28px 0 rgba(34, 33, 81, 0.25);
              transition:
                .4s ease-in-out transform,
                .4s ease-in-out box-shadow;

              &:hover {
                transform:
                  translate3d(0px, -16px, 0px)
                  rotateX(51deg)
                  rotateZ(43deg);
                box-shadow:
                  1px 1px 0 1px #f9f9fb,
                  -1px 0 28px 0 rgba(34, 33, 81, 0.01),
                  54px 54px 28px -10px rgba(34, 33, 81, 0.15);
              
              }"><br>
              <table>
                <tr>
                  <td style="width: 250px;">
            <form method="POST">
                    {% csrf_token %}
                        
                        <input type="hidden" id="id_Name" name="Name" value="{{ user.get_username }}" readonly><br>
                        
                        <div id="div_id_temperature" class="form-group">
                    <label for="id_temperature" class=" requiredField">
                        Body Temperature(In Celcius)<span class="asteriskField">*</span>
                    </label>
                        <div class="">
                            <input type="number" name="temperature" class="numberinput form-control" required="" id="id_temperature" min="35" max="45">
                        </div>
              </div>

              <div class="form-group">
                <div id="div_id_dry_cough" class="form-check">
                    <input type="checkbox" name="dry_cough" class="checkboxinput form-check-input" id="id_dry_cough">
                            
                        <label for="id_dry_cough" class="form-check-label">
                            Do you have dry cough?
                        </label>
                </div>
                </div>

                <div class="form-group">
                <div id="div_id_taste" class="form-check">
                          <input type="checkbox" name="taste" class="checkboxinput form-check-input" id="id_taste">        
                        <label for="id_taste" class="form-check-label">
                            Do you experience loss of taste?
                        </label>
                </div>
                </div>

                <div class="form-group">
                <div id="div_id_breathless" class="form-check">
                    <input type="checkbox" name="breathless" class="checkboxinput form-check-input" id="id_breathless">
                        <label for="id_breathless" class="form-check-label">
                            Do you feel breathless?
                        </label>
                </div>
                </div>

                        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                </form>
              </td>
              <td>
                <div class="col-md-12" style="padding-left: 100px;">
                  <br><br><h6>1. Check your body temperature and enter the value in celcius degree.</h6><br>
                  <h6>2. Enter other details.</h6><br>
                  <h6>3. Click Submit.</h6><br>
                  <h6>4. Proceed according to your results.</h6>
              </div>
              </td>
            </tr>
          </table>
                </div>
                
                </div>
                </main> 
                </div>          
            </div>
        </section>

        {% endif %}

        <script>
        	
        	function examine(){
        		var temperature = {{ record.0.temperature }};
        		var cough = "\"{{ record.0.dry_cough }}\"";
            var taste = "\"{{ record.0.taste }}\"";
            var breathless = "\"{{ record.0.breathless }}\"";  
            
            if (temperature > 38 && cough == "\"True\"" && taste == "\"True\"" && breathless == "\"True\""){
              alert("It seems you are symptomatic. It is advised you take a Covid-19 test and come back with results.");
            }
            
            else if(temperature > 38 && cough == "\"True\"" && taste == "\"True\""){
              alert("It seems you are symptomatic. It is advised you take a Covid-19 test and come back with results.");
            }

            else if(temperature > 38 && taste == "\"True\"" && breathless == "\"True\""){
              alert("It seems you are symptomatic. It is advised you take a Covid-19 test and come back with results.");
            }

            else if(temperature > 38 && cough == "\"True\"" && breathless == "\"True\""){
              alert("It seems you are symptomatic. It is advised you take a Covid-19 test and come back with results.");
            }

            else if(cough == "\"True\"" && taste == "\"True\"" && breathless == "\"True\""){
              alert("It seems you are symptomatic. It is advised you take a Covid-19 test and come back with results.");
            }

            else if(cough == "\"True\"" && taste == "\"True\""){
              alert("It seems you are symptomatic. It is advised you take a Covid-19 test and come back with results.");
            }

            else if(taste == "\"True\"" && breathless == "\"True\""){
              alert("It seems you are symptomatic. It is advised you take a Covid-19 test and come back with results.");
            }

            else if(cough == "\"True\"" && breathless == "\"True\""){
              alert("It seems you are symptomatic. It is advised you take a Covid-19 test and come back with results.");
            }

            else if(temperature > 38 && cough == "\"True\""){
              alert("It seems you are symptomatic. It is advised you take a Covid-19 test and come back with results.");
            }

            else if(temperature > 38 && taste == "\"True\""){
              alert("It seems you are symptomatic. It is advised you take a Covid-19 test and come back with results.");
            }

            else if(temperature > 38 && breathless == "\"True\""){
              alert("It seems you are symptomatic. It is advised you take a Covid-19 test and come back with results.");
            }

            else if(temperature > 38){
              alert("It seems you are symptomatic. It is advised you take a Covid-19 test and come back with results.");
            }    

            else{
              alert("You look fine. Come back and take a test later if you feel discomfort.");
            }

        	}
        </script>

{% endblock content %}
