{% extends "covidcombatapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section class="page-section portfolio" id="portfolio">
	{% if messages %}
        {% for message in messages%}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor%}
    {% endif %}
    	<br><br>
        <main role="main" class="container" style="padding-left: 400px;">
            <div class="row" style="height: 425px; width: 400px;
						  transform-style: preserve-3d;
						  border-radius: 32px;
						  box-shadow:
						    1px 1px 0 1px #f9f9fb,
						    -1px 0 28px 0 rgba(34, 33, 81, 0.01),
						    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
						  transition:
						    .4s ease-in-out transform,
						    .4s ease-in-out box-shadow;

						  &:hover {
						    transform:
						      translate3d(0px, -16px, 0px)
						      rotateX(51deg)
						      rotateZ(43deg);
						    box-shadow:
						      1px 1px 0 1px #f9f9fb,
						      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
						      54px 54px 28px -10px rgba(34, 33, 81, 0.15);
						  
						  }">
                <div class="col-md-12" >
                <!-- Portfolio Section Heading-->
                <form method="POST">
				{% csrf_token %}
				<fieldset class="form group">
					<legend class="border-bottom mb-4">Log In</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info type="submit">Login</button>
					<small class="text-muted ml-2">
						<a href="{% url 'password_reset' %}">Forgot Password?</a>
					</small>
				</div>	
			</form>
			<div class="border-top pt-3">
				<small class="text-mutted">
					Don't have an account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
				</small>			
			</div>
	        </div>
	    </div>
	    <!-- </div> -->
    </main>
    </section>
{% endblock content  %}