{% extends "covidcombatapp/base.html" %}

{% block content %}
	<section class="page-section portfolio" id="portfolio">
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-6"><br>
                <div class="alert alert-info">
					Your password has been reset.	
				</div>
				<a href="{% url 'login' %}">Log In Here</a>
			            </div>
            <div class="col-md-4">
                <br><h1>We are in this together</h1><br>
                <h1>Together we can</h1>
            </div>
        </div>
    </main>
    </section>			
{% endblock content  %}