{% extends "covidcombatapp/base.html" %}

{% block content %}
	<section class="page-section portfolio" id="portfolio">
        <main role="main" class="container">
            <div class="row">
                <div class="col-md-6"><br>
                <div class="alert alert-info">
					An email has been sent with intructions to reset your password.	
				</div>
            </div>
            <div class="col-md-6">
                <br><br><h4>We lost</h4><br>
                <h3>We suffered</h3><br>
                <h2>But we keep fighting</h2>
            </div>
        </div>
    </main>
    </section>				
{% endblock content  %}