{% extends "covidcombatapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

	<section class="page-section portfolio" id="portfolio">
        <main role="main" class="container"><br><br>
            <div class="row">
                <div class="col-md-12" style="height: 225px; width: 475px;
                          transform-style: preserve-3d;
                          border-radius: 32px;
                          box-shadow:
                            1px 1px 0 1px #f9f9fb,
                            -1px 0 28px 0 rgba(34, 33, 81, 0.01),
                            28px 28px 28px 0 rgba(34, 33, 81, 0.25);
                          transition:
                            .4s ease-in-out transform,
                            .4s ease-in-out box-shadow;

                          &:hover {
                            transform:
                              translate3d(0px, -16px, 0px)
                              rotateX(51deg)
                              rotateZ(43deg);
                            box-shadow:
                              1px 1px 0 1px #f9f9fb,
                              -1px 0 28px 0 rgba(34, 33, 81, 0.01),
                              54px 54px 28px -10px rgba(34, 33, 81, 0.15);
                          
                          }"><br>
                <!-- Portfolio Section Heading-->
                <table>
                <tr>
                    <td style="width: 500px;">    
                    <form method="POST">
    					{% csrf_token %}
    					<fieldset class="form group">
    						<legend class="border-bottom mb-4">Reset Password</legend>
    						{{ form|crispy }}
    					</fieldset>
    					<div class="form-group">
    						<button class="btn btn-outline-info type="submit">Request Password Reset</button>
    					</div>	
    				</form>
                </td>

                <td style="padding-left: 50px;">
                    <h5>1. Enter your registered Email Id</h5><br>
                <h5>2. You will receive a mail with a password reset link</h5>
                <br><h5>3. Click on the link to reset your password</h5>
                </td>
            </tr>
            </table>
            </div>
        </div>
    </main>
    </section>	
{% endblock content  %}